body {
  background: #f9e933;
}

header, main, footer {
  min-width: 855px;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}

header {
  background: white;
  overflow: auto;
}

header h1 {
  float: left;
  width: 570px;
}

header nav {
  float: right;
  width: 285px;
}

main {
  background: white;
  overflow: auto;
}
.faq
{
	background-color:#f1f2f4;
}
main .left {
  float: left;
  width: 570px;
}

main .right {
  float: right;
  width: 285px;
}

h2.heading
{
color:#3f729b;
font-family: Arial, Helvetica, sans-serif;
}

h4
{
color:#3f729b;
font-family: Arial, Helvetica, sans-serif;
margin:0px;
}

.para
{
font-family:Tahoma;
font-size:14px;
}

footer .left {
  float: left;
  width: 570px;
}

footer .sitemap {
  float: right;
  width: 285px;
}